@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: 400;

}

body {

    height: 100vh;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    background-attachment: fixed;
}


.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

p,
h2,.ends {
    color: white;
}
.round{
    position: fixed;
    margin-left:82vw;
    margin-bottom:80vh;
}